<div class="container-sm mt-2">
    <nav class="navbar bg-body-tertiary rounded-top-4 rounded-bottom-0">
        <div class="container-fluid">
            <h3 class="navbar-brand">Lista de Alunos</h3>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-primary mx-2" href="/aluno/cadastrar"><i class="fa-solid fa-plus"></i> Novo</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" href="/" ><i class="fa-solid fa-angle-left"></i> Voltar</a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-striped">
        <tr>
            <th class="col-2">CPF</th>
            <th class="col-4">NOME</th>
            <th class="col-2">TELEFONE</th>
            <th class="col-2">E-MAIL</th>
            <th class="col-2">
        </tr>
        {{!-- equivale a um for --}}
        {{#each alunos}}
            <tr>
                <td>{{nome}}</td>
                <td>{{telefone}}</td>
                <td>{{email}}</td>
                <td>{{nota}}</td>
                <td>{{situacao}}</td>
            </tr>
        {{/each}}

    </table>

</div>

